    <option value="0" disabled="true" selected>Sektör Seçiniz</option>
    <option value="Akademik">Akademik</option>
    <option value="Ambalaj">Ambalaj</option>
    <option value="Araştırma ve Geliştirme">Araştırma ve Geliştirme</option>
    <option value="Yazılım ve Bilişim">Yazılım ve Bilişim</option>
    <option value="Danışmanlık">Danışmanlık</option>
    <option value="Demir ve Çelik">Demir-Çelik</option>
    <option value="Elektrik ve Elektronik">Elektrik & Elektronik</option>
    <option value="Enerji">Enerji</option>
    <option value="Gıda">Gıda</option>
    <option value="Havacılık">Havacılık</option>
    <option value="Hazır Giyim">Hazır Giyim</option>
    <option value="Holding ve Şirketler Grubu">Holding/Şirketler Grubu</option>
    <option value="Isıtma, Havalandırma ve Klima">Isıtma, Havalandırma ve Klima</option>
    <option value="İletişim">İletişim</option>
    <option value="İnşaat">İnşaat</option>
    <option value="Kimya Sanayi">Kimya Sanayi</option>
    <option value="Logistik">Logistik</option>
    <option value="Makine ve Ekipmanları">Makine ve Ekipmanları</option>
    <option value="Metal Sanayi">Metal Sanayi</option>
    <option value="Mobilya ve Aksesuar">Mobilya ve Aksesuar</option>
    <option value="Oto Yedek Parça ve Yan Sanayi">Oto Yedek Parça ve Yan Sanayi</option>
    <option value="Otomotiv">Otomotiv</option>
    <option value="Plastik ve Ürünleri">Plastik ve Ürünleri</option>
    <option value="Sağlık">Sağlık</option>
    <option value="Tekstil">Tekstil</option>
    <option value="Turizm ve Medya">Turizm ve Medya</option>
    <option value="Üretim ve Endüstriyel Ürünler">Üretim/Endüstriyel Ürünler</option>
    <option value="Yapı">Yapı</option>
    <option value="Diğer">Diğer</option>