{% load static %}


<!DOCTYPE html>

<head>
	<meta charset="UTF-8">

	<title>Kayıt Güncelle</title>
	<script type="text/javascript" src="{% static 'js/kayitFormu.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mezunDiv.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'js/main.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/giris2.css' %}">
    <script type="https://kit.fontawesome.com/a81368914c.js"></script>



</head>
<body>
<div class="container">
    <div class="container col-lg-12">
    {% for g in user.groups.all %}
    {% if g.name == 'Öğrenci' %}
    <div class="row">
        <div class="wrapper" style="background-color: transparent ">
    <div class="title" style="color: #666666 ">
      Öğrenci Kayıt Güncelleme Formu
    </div>
    <div class="form">
        <form method="POST">
        {% csrf_token %}

        <div class="inputfield">
          <label>Kullanıcı Adı</label>
            <input type="text" value="{{request.user.username}}" class="input"{{ userform.username }}

       </div>

       <div class="inputfield">
          <label>Ad</label>
          <input type="text" value="{{request.user.first_name}}" class="input"{{ userform.first_name }}
       </div>

        <div class="inputfield">
          <label>Soyad</label>
          <input type="text" value="{{request.user.last_name}}" class="input"{{ userform.last_name }}
       </div>

        <div class="inputfield">
          <label>E-mail</label>
          <input type="text" value="{{request.user.email}}" class="input"{{ userform.email }}
       </div>

       <div class="inputfield">
          <label>Öğrenci Numarası</label>
          <input type="text" value="{{request.user.ogrenci.ogrenciNo}}" class="input"{{ ogrenciform.ogrenciNo }}
       </div>

       <div class="inputfield">
          <label>Doğum Tarihi</label>
          <input type="date" value="{{request.user.ogrenci.birth_date|date:"Y-m-d"}}" class="input"{{ ogrenciform.birth_date }}
       </div>

       <div class="inputfield">
          <label>Telefon Numarası</label>
          <input type="text" value="{{request.user.ogrenci.telefonNumarasi}}" class="input"{{ ogrenciform.telefonNumarasi }}
       </div>

       	<div class="inputfield">
    		<label>Cinsiyet</label>
            <input type="text" value="{{request.user.ogrenci.cinsiyet}}" class="input"{{ ogrenciform.cinsiyet }}
  		</div>

 		<div class="inputfield">
          <label>Şehir</label>
            <input type="text" value="{{request.user.ogrenci.sehir}}" class="input"{{ ogrenciform.sehir }}
       </div>

       <div class="inputfield">
          <label>Adres</label>
           <input type="text" value="{{request.user.ogrenci.adres}}" class="input"{{ ogrenciform.adres }}

       </div>


  <br>
        <div class="inputfield">
            <button type="submit" class="btn login-btn">Güncelle</button>
        </div>
        <div class="inputfield">
            <a href="{% url 'anasayfa' %}" class="btn login-btn">İptal</a>
        </div>
        </form>
    </div>
</div>
    </div>
    {%endif%}
    {% if g.name == 'Mezun' %}
    <div class="row">
        <div class="wrapper" style="background-color: transparent ">
            <div class="title" style="color: #666666 ">
                Mezun Kayıt Güncelleme Formu
            </div>
            <div class="form">
                <form method="POST">
                {% csrf_token %}
                    <div class="inputfield">
                        <label>Kullanıcı Adı</label>
                        <input type="text" value="{{request.user.username}}" class="input"{{ userform.username }}
                    </div>

                    <div class="inputfield">
                        <label>Ad</label>
                        <input type="text" value="{{request.user.first_name}}" class="input"{{ userform.first_name }}
                    </div>

                    <div class="inputfield">
                        <label>Soyad</label>
                        <input type="text" value="{{request.user.last_name}}" class="input"{{ userform.last_name }}
                    </div>

                    <div class="inputfield">
                        <label>E-mail</label>
                        <input type="text" value="{{request.user.email}}" class="input"{{ userform.email }}
                    </div>

                    <div class="inputfield">
                        <label>Doğum Tarihi</label>
                        <input type="date" value="{{request.user.mezun.birth_date|date:"Y-m-d"}}" class="input"{{ profileform.birth_date }}
                    </div>

                    <div class="inputfield">
                        <label>Telefon Numarası</label>
                        <input type="phoneNumber" value="{{request.user.mezun.telefonNumarasi}}" class="input"{{ profileform.telefonNumarasi }}
                    </div>

                    <div class="inputfield">
    		<label>Cinsiyet</label>
    		<div class="custom_select">
                <select name="cinsiyet">
                    <option value="{{request.user.mezun.cinsiyet}}" selected>{{request.user.mezun.cinsiyet}}</option>
                    <option value="Kadın">Kadın</option>
                    <option value="Erkek">Erkek</option>
                </select>
            </div>
  		</div>

 		<div class="inputfield">
          <label>Şehir</label>
          <div class="custom_select">
            <select name="sehir">
                {% include 'accounts/sehirler.html' %}
                <option value="{{request.user.mezun.sehir}}" selected>{{request.user.mezun.sehir}}</option>
            </select>
          </div>
       </div>

       <div class="inputfield">
          <label>Adres</label>
          <textarea class="input" style="height: 80px;"{{ profileform.adres }}{{request.user.mezun.adres}}</textarea>
       </div>

       <div class="inputfield">
            <label>Mezuniyet Yılı</label>
            <input type="text" value="{{request.user.mezun.mezuniyetYili}}" class="input" {{ profileform.mezuniyetYili }}
        </div>

        <div class="inputfield">
            <label>İş Durumu</label>
            <div class="custom_select">
                <select name="calismaDurumu" id="selectBox" onchange="changeFunc();">
                  <option value="{{request.user.mezun.calismaDurumu}}" href="changeFunc();" selected>İş Durumu Seçiniz</option>
                  <option value="Çalışıyorum">Çalışıyorum</option>
                  <option value="Çalışmıyorum">Çalışmıyorum</option>
                </select>
            </div>
        </div>
  		<div id="calisiyorum" style="display: none;">
  			<div class="inputfield">
          		<label>Şirket/Kurum Adı</label>
          		<input type="text" class="input" value="{{request.user.mezun.sirketKurumAdi}}" name="sirketAdi">
       		</div>

       		<div class="inputfield">
          		<label>Sektör</label>
          		<div class="custom_select">
                    <select name="sektor">
                        {% include 'accounts/sektorler.html' %}
                        <option value="{{request.user.mezun.sektor}}" selected>{{request.user.mezun.sektor}}</option>
                    </select>
                </div>
       		</div>

       		<div class="inputfield">
          		<label>Ünvan/Meslek</label>
          		<div class="custom_select">
                    <select name="unvan">
                        {% include 'accounts/unvanMeslek.html' %}
                        <option value="{{request.user.mezun.unvanMeslek}}" selected>{{request.user.mezun.unvanMeslek}}</option>
                    </select>
                </div>
       		</div>

       		<div class="inputfield">
          		<label>İdari Görev</label>
          		<input type="text" class="input" value="{{request.user.mezun.idariGorev}}" name="idariGorev">
       		</div>

            <div class="inputfield">
          		<label>Maaş</label>
          		<input type="text" class="input" value="{{request.user.mezun.maas}}" name="maas">
       		</div>

       		<div class="inputfield">
          		<label>İşe Başlama Tarihi</label>
          		<input type="date" class="input" value="{{request.user.mezun.iseBaslamaTarihi|date:"Y-m-d"}}" name="iseBaslamaTarihi">
       		</div>

            <div class="inputfield">
                <label>Şehir</label>
                <div class="custom_select">
                    <select name="isIl">
                        {% include 'accounts/sehirler.html' %}
                        <option value="{{request.user.mezun.il}}" selected>{{request.user.mezun.il}}</option>
                    </select>
                </div>
            </div>

            <div class="inputfield">
                <label>İş Adresi</label>
                <textarea class="input" style="height: 80px;" name="isAdresi">{{request.user.mezun.isAdresi}}</textarea>
            </div>
            <br>

        </div>

                    <div class="inputfield">
                      <button type="submit" class="btn login-btn">Güncelle</button>
                    </div>
                    <div class="inputfield">
                        <a href="{% url 'anasayfa' %}" class="btn login-btn">İptal</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
        </div>
    {%endif%}

    {% if g.name == 'Bölüm Sekreteri' %}
    <div class="row">
        <div class="wrapper" style="background-color: transparent ">
    <div class="title" style="color: #666666 ">
      Bölüm Sekreteri Kayıt Güncelleme Formu
    </div>
    <div class="form">
        <form method="POST">
        {% csrf_token %}

        <div class="inputfield">
          <label>Kullanıcı Adı</label>
            <input type="text" value="{{request.user.username}}" class="input"{{ userform.username }}

       </div>

       <div class="inputfield">
          <label>Ad</label>
          <input type="text" value="{{request.user.first_name}}" class="input"{{ userform.first_name }}
       </div>

        <div class="inputfield">
          <label>Soyad</label>
          <input type="text" value="{{request.user.last_name}}" class="input"{{ userform.last_name }}
       </div>

        <div class="inputfield">
          <label>E-mail</label>
          <input type="text" value="{{request.user.email}}" class="input"{{ userform.email }}
       </div>


  <br>
        <div class="inputfield">
          <button type="submit" class="btn login-btn">Güncelle</button>
        </div>
        <div class="inputfield">
          <a href="{% url 'anasayfa' %}" class="btn login-btn">İptal</a>
        </div>
        </form>
    </div>
</div>
    </div>
    {%endif%}

    {% if g.name == 'Öğretim Görevlisi' %}
    <div class="row">
        <div class="wrapper" style="background-color: transparent ">
    <div class="title" style="color: #666666 ">
      Öğretim Görevlisi Kayıt Güncelleme Formu
    </div>
    <div class="form">
        <form method="POST">
        {% csrf_token %}

        <div class="inputfield">
          <label>Kullanıcı Adı</label>
            <input type="text" value="{{request.user.username}}" class="input"{{ userform.username }}

       </div>

       <div class="inputfield">
          <label>Ad</label>
          <input type="text" value="{{request.user.first_name}}" class="input"{{ userform.first_name }}
       </div>

        <div class="inputfield">
          <label>Soyad</label>
          <input type="text" value="{{request.user.last_name}}" class="input"{{ userform.last_name }}
       </div>

        <div class="inputfield">
          <label>E-mail</label>
          <input type="text" value="{{request.user.email}}" class="input"{{ userform.email }}
       </div>


  <br>
        <div class="inputfield">
            <button type="submit" class="btn login-btn">Güncelle</button>
        </div>
        <div class="inputfield">
            <a href="{% url 'anasayfa' %}" class="btn login-btn">İptal</a>
        </div>
        </form>
    </div>
</div>
    </div>
    {%endif%}

    {%endfor%}
    </div>

</div>
</body>
<script>
    function changeFunc(){
	var selectBox = document.getElementById("selectBox");
	var selectedValue = selectBox.options[selectBox.selectedIndex].value;
	if (selectedValue == "Çalışmıyorum"){
		var calisiyorumDiv = document.getElementById("calisiyorum");
		calisiyorumDiv.style.display = "none";
	}
	else if (selectedValue == "Çalışıyorum"){
		var calisiyorumDiv = document.getElementById("calisiyorum");
		calisiyorumDiv.style.display = "block";
	}

}
</script>
</html>

